venv

ScrapingKnowledge/API_KEY

ScrapingKnowledge/SEARCH_ENGINE_ID

ML_AnimeRecommendationDatabase2023/AnimeDataset2023

ML_AnimeRecognition/Full_AnimeDataset

ML_AnimeRecognition/Select_AnimeDataset

CNN_TheSimpsonRecognition(InProgress)/Simpsons-Face-Detector

CNN_TheSimpsonRecognition(InProgress)/TheSimpsonsDataset

CNN_TheSimpsonRecognition(InProgress)/TheSimpsonsFacesDataset

ML_AnimeRecommendationDatabase2023

ML_AnimeRecognition

ML_TheSimpsonRecognition

.vscode